{% extends "base.html.j2" %}

{% block title %}FE Daily Index{% endblock %}

{% block content %}
<section data-page-type="index">
  <h1>FE Daily</h1>
  {% block index_content %}{% endblock %}
</section>
{% endblock %}
